
<section>
  <img src="../assets/images/logo.png" alt="">

  <form action="/action_page.php"  (ngSubmit)="onSubmit()">
    <div>
      <input required type="text" name="username" minlength="4" maxlength="50" [formControl]="name">
      <label for="username">Username</label>

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>

    </div>
  
    <div>
      <input required type="password" name="password" minlength="10" maxlength="50" [formControl]="password">
      <label for="password">Password</label>
    </div>
   
    <div>
      <button type="submit">Отправить</button>
      <button>Forgot Password?</button>
    </div>
  </form>

  <div>
    Powered by <span>Cygate</span>
  </div>
</section>